// mixin responsive landing page

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media ((min-width: 601px) and (max-width:900px)) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media ((min-width: 901px) and (max-width:1536px)) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1537px) {
      @content;
    }
  }
}
