$width-header: 1215px;
$height-header: 84px;
$height-header-mobile: 60px;
$width-main: 1152px;
$width-footer: 1110px;

$color-primary: #4caf4f;
$text-primary: #4d4d4d;
$text-secondary: #717171;
$text-white: #fff;
$text-header: #18191f;
$text-footer: #f5f7fa;
$bg-footer: #263238;
