.footer {
  background-color: $bg-footer;
  padding: 64px 0;
  @include responsive(mobile) {
    padding: 40px 0;
  }
  .wrap-content-footer {
    max-width: $width-footer;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include responsive(mobile) {
      padding: 0 10px;
      flex-direction: column;
      gap: 30px;
    }
    @include responsive(tablet) {
      flex-wrap: wrap-reverse;
      padding: 0 10px;
      justify-content: space-evenly;
      gap: 50px;
    }

    .wrap-content-footer__copyright {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include responsive(mobile) {
        width: 100%;
        align-items: center;
      }
      .wrap-content-footer__copyright--logo {
        width: 191px;
        height: 30px;
        object-fit: contain;
        margin-bottom: 40px;
        -webkit-tap-highlight-color: transparent;
        @include responsive(mobile) {
          margin-bottom: 20px;
        }
      }

      .wrap-content-footer__copyright--text {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        color: $text-footer;
        &:nth-child(2n) {
          padding-bottom: 8px;
        }
      }

      .wrap-content-footer__copyright--ul {
        margin-top: 40px;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 16px;
        @include responsive(mobile) {
          margin-top: 20px;
        }
        .wrap-content-footer__copyright--li {
          transition: all 0.3s linear;
          -webkit-tap-highlight-color: transparent;
          .wrap-content-footer__copyright--link {
            text-decoration: none;
            display: inline-block;
            display: flex;

            .wrap-content-footer__copyright--img {
              width: 32px;
              height: 32px;
              object-fit: contain;
            }
          }

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }

    .wrap-content-footer__info {
      display: flex;
      align-items: flex-start;
      gap: 30px;

      @include responsive(mobile) {
        gap: 36px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
      @include responsive(tablet) {
        gap: 0px;
      }

      .wrap-content-footer__info--item {
        min-width: 160px;

        @include responsive(mobile) {
          flex: 1;
          text-align: center;
          width: 80%;
        }

        @include responsive(tablet) {
          flex: 1;
        }
        .wrap-content-footer__info--title {
          font-size: 2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.8rem;
          color: $text-white;
          margin-bottom: 24px;
          @include responsive(mobile) {
            margin-bottom: 6px;
          }
        }

        .wrap-content-footer__info--link {
          text-decoration: none;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2rem;
          color: $text-footer;
          display: block;
          padding-bottom: 12px;
          transition: all 0.2s linear;
          -webkit-tap-highlight-color: transparent;
          &:hover {
            cursor: pointer;
            opacity: 0.6;
          }

          &:last-child {
            padding-bottom: 0;
          }

          @include responsive(mobile) {
            padding-bottom: 8px;
          }
        }

        .wrap-content-footer__form {
          width: 255px;
          height: 40px;
          display: flex;
          align-items: center;
          border-radius: 8px;
          justify-content: space-between;
          overflow: hidden;
          background-color: #515b60;
          @include responsive(mobile) {
            width: 100%;
          }

          .wrap-content-footer__form--input {
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem;
            color: #d9dbe1;
            caret-color: $color-primary;
            height: 100%;
            padding: 9px 12px;
            outline: none;
            border: none;
            background-color: #515b60;

            &::placeholder {
              color: #d9dbe1;
            }
          }

          .wrap-content-footer__form--submit {
            height: 100%;
            border: none;
            background-color: transparent;
            padding: 0 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s linear;
            -webkit-tap-highlight-color: transparent;
            &:hover {
              cursor: pointer;
              background-color: $color-primary;
            }
            .wrap-content-footer__form--icon {
              width: 18px;
              height: 18px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
