.header {
  background-color: $text-footer;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  .wrap-header {
    position: relative;
    max-width: $width-header;
    margin: 0 auto;
    height: $height-header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(mobile) {
      padding: 0 20px;
      height: $height-header-mobile;
    }
    @include responsive(tablet) {
      padding: 0 20px;
      height: $height-header;
    }

    @include responsive(laptop) {
      height: $height-header;
    }
    @include responsive(desktop) {
      height: $height-header;
    }
  }

  .header-logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    .header-logo__img {
      width: 154px;
      height: 24px;
      object-fit: contain;
    }
  }

  .header-nav {
    @include responsive(mobile) {
      display: none;
    }
    @include responsive(tablet) {
      display: none;
    }
    .header-nav__ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 50px;
      .header-nav__li {
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-bottom: 2px solid $color-primary;
          border-radius: 3px;
          transform: scaleX(0);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover::after {
          transform: scaleX(100%);
        }
        .header-nav__li--link {
          text-decoration: none;
          color: $text-header;
          font-size: 1.6rem;
          font-weight: 400;
          font-style: normal;
          line-height: 2.4rem;
        }
      }

      .header-nav__li-active .header-nav__li--link {
        font-weight: 500;
      }

      .header-nav__li-active::after {
        transform: scaleX(100%);
      }
    }
  }

  .header-action {
    display: flex;
    align-items: center;
    gap: 14px;

    @include responsive(mobile) {
      display: none;
    }
    .header-action__btn {
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-weight: 500;
      font-style: normal;
      line-height: 2rem;
      border-radius: 6px;
      transition: all 0.2s linear;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .header-action__login {
      color: $color-primary;
      padding: 10px 21.4px;
      background-color: $text-footer;
    }

    .header-action__register {
      padding: 10px 21.8px;
      background-color: $color-primary;
      color: $text-white;
    }
  }

  .header-switch-nav-mobile {
    padding: 10px;
    transition: all 0.3s linear;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      .icon-open {
        color: $color-primary;
      }
      .icon-close {
        color: red;
      }
    }
    .icon-open {
      font-size: 1.9rem;
      transition: all 0.4s linear;
    }

    .icon-close {
      font-size: 2.2rem;
      transition: all 0.4s linear;
    }

    @include responsive(laptop) {
      display: none;
    }
    @include responsive(desktop) {
      display: none;
    }
  }
}

.header-nav-mobile {
  position: fixed;
  z-index: 0;
  left: 0;
  right: 0;
  height: 0vh;
  background-color: #f4f9f6;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-top: 1px solid $color-primary;
  padding: 20px;

  @include responsive(mobile) {
    top: $height-header-mobile;
  }
  @include responsive(tablet) {
    top: $height-header;
  }
  @include responsive(laptop) {
    display: none;
    top: $height-header;
  }
  @include responsive(desktop) {
    display: none;
    top: $height-header;
  }

  .header-nav-mobile-ul {
    list-style-type: none;
    .header-nav-mobile__li {
      margin: 8px 0;
      padding: 12px;
      border-bottom: 1px solid #b57070;
      border-radius: 4px;
      -webkit-tap-highlight-color: transparent;
      .header-nav-mobile__li--link {
        text-decoration: none;
        font-size: 1.8rem;
        color: $text-header;
        font-weight: 400;
      }

      &:hover {
        background-color: #e2ede4;
      }
    }

    .header-nav-mobile__li:last-child {
      border-bottom: 1px solid transparent;
    }
    .header-nav-mobile__li-active {
      background-color: #e2ede4;
      border-radius: 4px;
      .header-nav-mobile__li--link {
        font-weight: 500;
      }
    }
  }

  .header-nav-mobile__action {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    @include responsive(tablet) {
      display: none;
    }
    @include responsive(laptop) {
      display: none;
    }
    @include responsive(desktop) {
      display: none;
    }
    .header-nav-mobile-action__btn {
      font-size: 1.8rem;
      border: none;
      outline: none;
      flex: 1;
      padding: 13px 16px;
      border-radius: 6px;
      -webkit-tap-highlight-color: transparent;
      transition: all 0.2s linear;
      &:hover {
        opacity: 0.8;
      }
    }

    .header-action-mobile__login {
      color: $color-primary;
    }

    .header-action-mobile__register {
      background-color: $color-primary;
      color: $text-white;
    }
  }
}

.header-nav-mobile__open {
  opacity: 1;
  @include responsive(mobile) {
    height: calc(100vh - $height-header-mobile);
  }
  @include responsive(tablet) {
    height: calc(100vh - $height-header);
  }
  @include responsive(laptop) {
    display: none;
    height: calc(100vh - $height-header);
  }
  @include responsive(desktop) {
    display: none;
    height: calc(100vh - $height-header);
  }
}
