@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./variable.scss";
@import "./mixinResponsive.scss";
@import "./header.scss";
@import "./slider.scss";
@import "./mainContent/mainContent-header.scss";
@import "./mainContent/mainContentCommunity.scss";
@import "./mainContent/mainContent-spending.scss";
@import "./mainContent/mainContent-business.scss";
@import "./mainContent/mainContent-design.scss";
@import "./mainContent/mainContent-meetAllClient.scss";
@import "./mainContent/mainContent-marketing.scss";
@import "./mainContent/mainContent-footer.scss";
@import "./footer.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

#root {
  overflow: hidden;
}

.main {
  @include responsive(mobile) {
    padding-top: $height-header-mobile;
  }
  @include responsive(tablet) {
    padding-top: $height-header;
  }
  @include responsive(laptop) {
    padding-top: $height-header;
  }
  @include responsive(desktop) {
    padding-top: $height-header;
  }
}

.mess-no-script {
  font-size: 3rem;
  color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
  padding: 26px;
  background-color: yellow;
}

.wrap-back-to-top {
  position: fixed;
  z-index: 100;
  right: 5%;
  bottom: 10%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgb(3, 76, 4);
  transition: all 0.2s linear;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  .wrap-back-to-top__icon {
    font-size: 2rem;
    color: $text-white;
    @include responsive(mobile) {
      font-size: 1.4rem;
    }
  }

  @include responsive(mobile) {
    width: 34px;
    height: 34px;
  }
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 6px;
}

// responsive test o day nha
// .tets {
//   @include responsive(mobile) {
//   }
//   @include responsive(tablet) {
//   }
//   @include responsive(laptop) {
//   }
//   @include responsive(desktop) {
//   }
// }
