.wrap-slider {
  background-color: $text-footer;
  position: relative;
  z-index: 30;
}

.main-slider {
  min-height: 100px;
  max-width: $width-main;
  margin: 0 auto;

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 96px 0 96px 6px;
    @include responsive(mobile) {
      padding: 50px 10px;
    }
  }

  .slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @include responsive(mobile) {
      flex-direction: column-reverse;
    }
    @include responsive(tablet) {
      gap: 40px;
    }

    .slider-item__content {
      @include responsive(mobile) {
        text-align: center;
      }
      @include responsive(tablet) {
        text-align: center;
      }

      .slider-item__content--title {
        font-style: normal;
        color: $text-primary;
        padding-bottom: 16px;
        @include responsive(mobile) {
          font-size: 2.2rem;
          padding: 0 1px 14px 1px;
        }
        @include responsive(tablet) {
          font-size: 3rem;
        }
        @include responsive(laptop) {
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 7.6rem;
        }
        @include responsive(desktop) {
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 7.6rem;
        }

        .slider-item__content--title-active {
          color: $color-primary;
        }
      }

      .slider-item__content--des {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        color: $text-secondary;
        padding-bottom: 32px;
      }

      .slider-item__content--action {
        @include responsive(mobile) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include responsive(tablet) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .slider-item__content--btn {
          width: 128px;
          height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          outline: none;
          border-radius: 4px;
          color: $text-white;
          background-color: $color-primary;
          font-size: 1.7rem;
          transition: all 0.2s linear;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
          @include responsive(mobile) {
            width: 70%;
            height: 48px;
          }
        }
      }
    }

    .slider-item__img {
      object-fit: contain;

      @include responsive(mobile) {
        width: 130px;
        height: auto;
      }
      @include responsive(tablet) {
        width: 260px;
        height: auto;
      }
      @include responsive(laptop) {
        width: 391px;
        height: 407px;
      }
      @include responsive(desktop) {
        width: 391px;
        height: 407px;
      }
    }
  }

  .swiper-pagination {
    bottom: 16px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: $color-primary;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-primary;
    }

    @include responsive(mobile) {
      bottom: 6px;
    }
  }
}
