@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
.header {
  background-color: #f5f7fa;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
.header .wrap-header {
  position: relative;
  max-width: 1215px;
  margin: 0 auto;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .header .wrap-header {
    padding: 0 20px;
    height: 60px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .header .wrap-header {
    padding: 0 20px;
    height: 84px;
  }
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .header .wrap-header {
    height: 84px;
  }
}
@media (min-width: 1537px) {
  .header .wrap-header {
    height: 84px;
  }
}
.header .header-logo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.header .header-logo .header-logo__img {
  width: 154px;
  height: 24px;
  object-fit: contain;
}
@media (max-width: 600px) {
  .header .header-nav {
    display: none;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .header .header-nav {
    display: none;
  }
}
.header .header-nav .header-nav__ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .header-nav .header-nav__ul .header-nav__li {
  position: relative;
}
.header .header-nav .header-nav__ul .header-nav__li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #4caf4f;
  border-radius: 3px;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
}
.header .header-nav .header-nav__ul .header-nav__li:hover {
  cursor: pointer;
}
.header .header-nav .header-nav__ul .header-nav__li:hover::after {
  transform: scaleX(100%);
}
.header .header-nav .header-nav__ul .header-nav__li .header-nav__li--link {
  text-decoration: none;
  color: #18191f;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
}
.header .header-nav .header-nav__ul .header-nav__li-active .header-nav__li--link {
  font-weight: 500;
}
.header .header-nav .header-nav__ul .header-nav__li-active::after {
  transform: scaleX(100%);
}
.header .header-action {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 600px) {
  .header .header-action {
    display: none;
  }
}
.header .header-action .header-action__btn {
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2rem;
  border-radius: 6px;
  transition: all 0.2s linear;
  -webkit-tap-highlight-color: transparent;
}
.header .header-action .header-action__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header .header-action .header-action__login {
  color: #4caf4f;
  padding: 10px 21.4px;
  background-color: #f5f7fa;
}
.header .header-action .header-action__register {
  padding: 10px 21.8px;
  background-color: #4caf4f;
  color: #fff;
}
.header .header-switch-nav-mobile {
  padding: 10px;
  transition: all 0.3s linear;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-switch-nav-mobile:hover {
  cursor: pointer;
}
.header .header-switch-nav-mobile:hover .icon-open {
  color: #4caf4f;
}
.header .header-switch-nav-mobile:hover .icon-close {
  color: red;
}
.header .header-switch-nav-mobile .icon-open {
  font-size: 1.9rem;
  transition: all 0.4s linear;
}
.header .header-switch-nav-mobile .icon-close {
  font-size: 2.2rem;
  transition: all 0.4s linear;
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .header .header-switch-nav-mobile {
    display: none;
  }
}
@media (min-width: 1537px) {
  .header .header-switch-nav-mobile {
    display: none;
  }
}

.header-nav-mobile {
  position: fixed;
  z-index: 0;
  left: 0;
  right: 0;
  height: 0vh;
  background-color: #f4f9f6;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-top: 1px solid #4caf4f;
  padding: 20px;
}
@media (max-width: 600px) {
  .header-nav-mobile {
    top: 60px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .header-nav-mobile {
    top: 84px;
  }
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .header-nav-mobile {
    display: none;
    top: 84px;
  }
}
@media (min-width: 1537px) {
  .header-nav-mobile {
    display: none;
    top: 84px;
  }
}
.header-nav-mobile .header-nav-mobile-ul {
  list-style-type: none;
}
.header-nav-mobile .header-nav-mobile-ul .header-nav-mobile__li {
  margin: 8px 0;
  padding: 12px;
  border-bottom: 1px solid #b57070;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
}
.header-nav-mobile .header-nav-mobile-ul .header-nav-mobile__li .header-nav-mobile__li--link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #18191f;
  font-weight: 400;
}
.header-nav-mobile .header-nav-mobile-ul .header-nav-mobile__li:hover {
  background-color: #e2ede4;
}
.header-nav-mobile .header-nav-mobile-ul .header-nav-mobile__li:last-child {
  border-bottom: 1px solid transparent;
}
.header-nav-mobile .header-nav-mobile-ul .header-nav-mobile__li-active {
  background-color: #e2ede4;
  border-radius: 4px;
}
.header-nav-mobile .header-nav-mobile-ul .header-nav-mobile__li-active .header-nav-mobile__li--link {
  font-weight: 500;
}
.header-nav-mobile .header-nav-mobile__action {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .header-nav-mobile .header-nav-mobile__action {
    display: none;
  }
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .header-nav-mobile .header-nav-mobile__action {
    display: none;
  }
}
@media (min-width: 1537px) {
  .header-nav-mobile .header-nav-mobile__action {
    display: none;
  }
}
.header-nav-mobile .header-nav-mobile__action .header-nav-mobile-action__btn {
  font-size: 1.8rem;
  border: none;
  outline: none;
  flex: 1;
  padding: 13px 16px;
  border-radius: 6px;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s linear;
}
.header-nav-mobile .header-nav-mobile__action .header-nav-mobile-action__btn:hover {
  opacity: 0.8;
}
.header-nav-mobile .header-nav-mobile__action .header-action-mobile__login {
  color: #4caf4f;
}
.header-nav-mobile .header-nav-mobile__action .header-action-mobile__register {
  background-color: #4caf4f;
  color: #fff;
}

.header-nav-mobile__open {
  opacity: 1;
}
@media (max-width: 600px) {
  .header-nav-mobile__open {
    height: calc(100vh - 60px);
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .header-nav-mobile__open {
    height: calc(100vh - 84px);
  }
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .header-nav-mobile__open {
    display: none;
    height: calc(100vh - 84px);
  }
}
@media (min-width: 1537px) {
  .header-nav-mobile__open {
    display: none;
    height: calc(100vh - 84px);
  }
}

.wrap-slider {
  background-color: #f5f7fa;
  position: relative;
  z-index: 30;
}

.main-slider {
  min-height: 100px;
  max-width: 1152px;
  margin: 0 auto;
}
.main-slider .swiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 96px 0 96px 6px;
}
@media (max-width: 600px) {
  .main-slider .swiper {
    padding: 50px 10px;
  }
}
.main-slider .slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 600px) {
  .main-slider .slider-item {
    flex-direction: column-reverse;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-slider .slider-item {
    gap: 40px;
  }
}
@media (max-width: 600px) {
  .main-slider .slider-item .slider-item__content {
    text-align: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-slider .slider-item .slider-item__content {
    text-align: center;
  }
}
.main-slider .slider-item .slider-item__content .slider-item__content--title {
  font-style: normal;
  color: #4d4d4d;
  padding-bottom: 16px;
}
@media (max-width: 600px) {
  .main-slider .slider-item .slider-item__content .slider-item__content--title {
    font-size: 2.2rem;
    padding: 0 1px 14px 1px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-slider .slider-item .slider-item__content .slider-item__content--title {
    font-size: 3rem;
  }
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .main-slider .slider-item .slider-item__content .slider-item__content--title {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 7.6rem;
  }
}
@media (min-width: 1537px) {
  .main-slider .slider-item .slider-item__content .slider-item__content--title {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 7.6rem;
  }
}
.main-slider .slider-item .slider-item__content .slider-item__content--title .slider-item__content--title-active {
  color: #4caf4f;
}
.main-slider .slider-item .slider-item__content .slider-item__content--des {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #717171;
  padding-bottom: 32px;
}
@media (max-width: 600px) {
  .main-slider .slider-item .slider-item__content .slider-item__content--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-slider .slider-item .slider-item__content .slider-item__content--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main-slider .slider-item .slider-item__content .slider-item__content--action .slider-item__content--btn {
  width: 128px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  background-color: #4caf4f;
  font-size: 1.7rem;
  transition: all 0.2s linear;
}
.main-slider .slider-item .slider-item__content .slider-item__content--action .slider-item__content--btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 600px) {
  .main-slider .slider-item .slider-item__content .slider-item__content--action .slider-item__content--btn {
    width: 70%;
    height: 48px;
  }
}
.main-slider .slider-item .slider-item__img {
  object-fit: contain;
}
@media (max-width: 600px) {
  .main-slider .slider-item .slider-item__img {
    width: 130px;
    height: auto;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-slider .slider-item .slider-item__img {
    width: 260px;
    height: auto;
  }
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .main-slider .slider-item .slider-item__img {
    width: 391px;
    height: 407px;
  }
}
@media (min-width: 1537px) {
  .main-slider .slider-item .slider-item__img {
    width: 391px;
    height: 407px;
  }
}
.main-slider .swiper-pagination {
  bottom: 16px;
}
.main-slider .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #4caf4f;
}
.main-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4caf4f;
}
@media (max-width: 600px) {
  .main-slider .swiper-pagination {
    bottom: 6px;
  }
}

.main-content-header {
  max-width: 1152px;
  margin: 0 auto;
  padding: 40px 0;
}
@media (max-width: 600px) {
  .main-content-header {
    padding: 26px 10px;
  }
}
.main-content-header .main-content-header__title {
  text-align: center;
}
.main-content-header .main-content-header__title .main-content-header__title--text {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  color: #4d4d4d;
  padding-bottom: 8px;
}
@media (max-width: 600px) {
  .main-content-header .main-content-header__title .main-content-header__title--text {
    font-size: 3.4rem;
  }
}
.main-content-header .main-content-header__title .main-content-header__title--des {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #717171;
}
.main-content-header .main-content-header__swipper-clients {
  margin-top: 16px;
}
.main-content-header .main-content-header__swipper-clients .swiper-wrapper .slider-item__client {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 600px) {
  .main-content-header .main-content-header__swipper-clients .swiper-wrapper .slider-item__client {
    text-align: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-header .main-content-header__swipper-clients .swiper-wrapper .slider-item__client {
    text-align: center;
  }
}
.main-content-header .main-content-header__swipper-clients .swiper-wrapper .slider-item__client .slider-item__client--logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  -webkit-tap-highlight-color: transparent;
}

.main-content-community {
  max-width: 1152px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .main-content-community {
    padding: 0 10px;
  }
}
.main-content-community .wrap-main-content-community__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content-community .main-content-community__title {
  max-width: 542px;
  text-align: center;
}
.main-content-community .main-content-community__title .main-content-community__title--text {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  color: #4d4d4d;
  padding-bottom: 8px;
}
@media (max-width: 600px) {
  .main-content-community .main-content-community__title .main-content-community__title--text {
    font-size: 3.4rem;
  }
}
.main-content-community .main-content-community__title .main-content-community__title--des {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #717171;
}
.main-content-community .main-content-community__info {
  margin-top: 16px;
}
.main-content-community .main-content-community__info .main-content-community__info-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .main-content-community .main-content-community__info .main-content-community__info-ul {
    flex-direction: column;
    gap: 20px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-community .main-content-community__info .main-content-community__info-ul {
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-around;
  }
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li {
  max-width: 299px;
  padding: 14px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  position: relative;
  border: 1px solid transparent;
  -webkit-tap-highlight-color: transparent;
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li .main-content-community__info--img {
  width: 65px;
  height: 56px;
  object-fit: contain;
  margin-bottom: 16px;
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li .main-content-community__info--name {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  color: #4d4d4d;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li .main-content-community__info--name {
    font-size: 2.4rem;
  }
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li .main-content-community__info--des {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #717171;
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #4caf4f;
  border-bottom: 1px solid #4caf4f;
  border-radius: 8px;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li:hover {
  cursor: pointer;
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li:hover::before {
  transform: scaleX(1);
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #4caf4f;
  border-left: 1px solid #4caf4f;
  border-radius: 8px;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li:hover {
  cursor: pointer;
}
.main-content-community .main-content-community__info .main-content-community__info-ul .main-content-community__info--li:hover::after {
  transform: scaleY(1);
}

.main-content-spending {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  gap: 49px;
}
@media (max-width: 600px) {
  .main-content-spending {
    margin-top: 32px;
  }
}
@media (max-width: 600px) {
  .main-content-spending {
    gap: 1px;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-spending {
    padding: 0 16px;
    gap: 30px;
  }
}
.main-content-spending .main-content-spending-img {
  width: 442px;
  height: 433px;
  object-fit: contain;
}
@media (max-width: 600px) {
  .main-content-spending .main-content-spending-img {
    width: 300px;
    height: auto;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-spending .main-content-spending-img {
    width: 300px;
    height: auto;
  }
}
.main-content-spending .main-content-spending__info {
  padding-right: 60px;
}
@media (max-width: 600px) {
  .main-content-spending .main-content-spending__info {
    padding-right: 0px;
    text-align: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-spending .main-content-spending__info {
    padding-right: 0px;
    text-align: center;
  }
}
.main-content-spending .main-content-spending__info .main-content-spending__info--title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  color: #4d4d4d;
  padding-bottom: 16px;
}
@media (max-width: 600px) {
  .main-content-spending .main-content-spending__info .main-content-spending__info--title {
    font-size: 3.4rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-spending .main-content-spending__info .main-content-spending__info--title {
    font-size: 3.4rem;
  }
}
.main-content-spending .main-content-spending__info .main-content-spending__info--des {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #717171;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .main-content-spending .main-content-spending__info .main-content-spending__info--des {
    margin-bottom: 22px;
  }
}
@media (max-width: 600px) {
  .main-content-spending .main-content-spending__info .main-content-spending__info--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-spending .main-content-spending__info .main-content-spending__info--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main-content-spending .main-content-spending__info .main-content-spending__info--action .main-content-spending__info--btn {
  width: 151px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 4px;
  border: none;
  background-color: #4caf4f;
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.2s linear;
  -webkit-tap-highlight-color: transparent;
}
.main-content-spending .main-content-spending__info .main-content-spending__info--action .main-content-spending__info--btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 600px) {
  .main-content-spending .main-content-spending__info .main-content-spending__info--action .main-content-spending__info--btn {
    width: 70%;
    height: 48px;
  }
}

.main-content-business {
  background-color: #f5f7fa;
  margin-top: 48px;
  padding: 64px 0;
}
@media (max-width: 600px) {
  .main-content-business {
    padding: 34px 10px;
    margin-top: 38px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-business {
    padding-right: 10px;
    padding-left: 10px;
    padding: 44px 10px;
  }
}
.main-content-business .wrap-content-business {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
}
@media (max-width: 600px) {
  .main-content-business .wrap-content-business {
    gap: 28px;
    flex-direction: column;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-business .wrap-content-business {
    gap: 30px;
  }
}
.main-content-business .wrap-content-business .main-content-business__header {
  flex: 1;
  max-width: 540px;
  padding-right: 118px;
}
@media (max-width: 600px) {
  .main-content-business .wrap-content-business .main-content-business__header {
    padding-right: 0px;
    text-align: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-business .wrap-content-business .main-content-business__header {
    padding-right: 0px;
    text-align: center;
  }
}
.main-content-business .wrap-content-business .main-content-business__header .main-content-business__header--title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  color: #4d4d4d;
  padding-bottom: 8px;
}
@media (max-width: 600px) {
  .main-content-business .wrap-content-business .main-content-business__header .main-content-business__header--title {
    font-size: 3.4rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-business .wrap-content-business .main-content-business__header .main-content-business__header--title {
    font-size: 3.4rem;
  }
}
.main-content-business .wrap-content-business .main-content-business__header .main-content-business__header--title .main-content-business__header--active {
  color: #4caf4f;
}
.main-content-business .wrap-content-business .main-content-business__header .main-content-business__header--des {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #18191f;
}
.main-content-business .wrap-content-business .main-content-business__footer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
}
@media (max-width: 600px) {
  .main-content-business .wrap-content-business .main-content-business__footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--item .main-content-business__footer--img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
@media (max-width: 600px) {
  .main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--item .main-content-business__footer--img {
    width: 34px;
    height: 34px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--item .main-content-business__footer--img {
    width: 34px;
    height: 34px;
  }
}
.main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--info .main-content-business__footer--info-number {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  color: #4d4d4d;
}
@media (max-width: 600px) {
  .main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--info .main-content-business__footer--info-number {
    font-size: 2.4rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--info .main-content-business__footer--info-number {
    font-size: 2.4rem;
  }
}
.main-content-business .wrap-content-business .main-content-business__footer .main-content-business__footer--info .main-content-business__footer--info-name {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #717171;
}

.main-content-design {
  max-width: 1152px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 600px) {
  .main-content-design {
    padding: 0 10px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-design {
    padding: 0 10px;
    gap: 16px;
  }
}
.main-content-design .main-content-design__img {
  width: 442px;
  height: 433px;
  object-fit: contain;
}
@media (max-width: 600px) {
  .main-content-design .main-content-design__img {
    width: 300px;
    height: auto;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-design .main-content-design__img {
    width: 300px;
    height: auto;
  }
}
.main-content-design .main-content-design__footer {
  padding-right: 60px;
}
@media (max-width: 600px) {
  .main-content-design .main-content-design__footer {
    padding-right: 0px;
    text-align: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-design .main-content-design__footer {
    padding-right: 0px;
    text-align: center;
  }
}
.main-content-design .main-content-design__footer .main-content-design__footer--title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  color: #4d4d4d;
  padding-bottom: 16px;
}
@media (max-width: 600px) {
  .main-content-design .main-content-design__footer .main-content-design__footer--title {
    font-size: 3.4rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-design .main-content-design__footer .main-content-design__footer--title {
    font-size: 3.4rem;
  }
}
.main-content-design .main-content-design__footer .main-content-design__footer--des {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #717171;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .main-content-design .main-content-design__footer .main-content-design__footer--des {
    margin-bottom: 22px;
  }
}
@media (max-width: 600px) {
  .main-content-design .main-content-design__footer .main-content-design__footer--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-design .main-content-design__footer .main-content-design__footer--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main-content-design .main-content-design__footer .main-content-design__footer--action .main-content-design__footer--btn {
  width: 151px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #4caf4f;
  color: white;
  font-size: 1.7rem;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s linear;
}
.main-content-design .main-content-design__footer .main-content-design__footer--action .main-content-design__footer--btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 600px) {
  .main-content-design .main-content-design__footer .main-content-design__footer--action .main-content-design__footer--btn {
    width: 70%;
    height: 48px;
  }
}

.main-content-meet-all-client {
  background-color: #f5f7fa;
  margin-top: 48px;
  padding: 32px 0;
}
@media (max-width: 600px) {
  .main-content-meet-all-client {
    padding: 16px 10px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-meet-all-client {
    padding: 16px 10px;
  }
}
.main-content-meet-all-client .wrap-content-meet-all-client {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 78px;
}
@media (max-width: 600px) {
  .main-content-meet-all-client .wrap-content-meet-all-client {
    gap: 1px;
    flex-direction: column;
    align-items: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-meet-all-client .wrap-content-meet-all-client {
    gap: 1px;
    flex-direction: column;
    align-items: center;
  }
}
.main-content-meet-all-client .wrap-content-meet-all-client .wrap-content-meet-all-client__wrap-img {
  width: 326px;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
}
@media (max-width: 600px) {
  .main-content-meet-all-client .wrap-content-meet-all-client .wrap-content-meet-all-client__wrap-img {
    width: 300px;
    height: auto;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-meet-all-client .wrap-content-meet-all-client .wrap-content-meet-all-client__wrap-img {
    width: 300px;
    height: auto;
  }
}
.main-content-meet-all-client .wrap-content-meet-all-client .wrap-content-meet-all-client__wrap-img .main-content-meet-all-client__img {
  width: 326px;
  height: 326px;
  object-fit: contain;
}
@media (max-width: 600px) {
  .main-content-meet-all-client .wrap-content-meet-all-client .wrap-content-meet-all-client__wrap-img .main-content-meet-all-client__img {
    width: 300px;
    height: auto;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-meet-all-client .wrap-content-meet-all-client .wrap-content-meet-all-client__wrap-img .main-content-meet-all-client__img {
    width: 300px;
    height: auto;
  }
}
@media (max-width: 600px) {
  .main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer {
    text-align: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer {
    text-align: center;
  }
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--des {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  color: #717171;
  padding-bottom: 10px;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--author {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  color: #4caf4f;
  padding-bottom: 6px;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--sub {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #89939e;
  margin-bottom: 22px;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company {
    flex-direction: column;
    align-items: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company {
    flex-direction: column;
    align-items: center;
  }
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 41px;
}
@media (max-width: 600px) {
  .main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--ul .main-content-meet-all-client__footer--li {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--ul .main-content-meet-all-client__footer--li .main-content-meet-all-client__footer--li-logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--meetall {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s linear;
  -webkit-tap-highlight-color: transparent;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--meetall:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--meetall .main-content-meet-all-client__footer--meetall-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  color: #4caf4f;
}
.main-content-meet-all-client .wrap-content-meet-all-client .main-content-meet-all-client__footer .main-content-meet-all-client__footer--company .main-content-meet-all-client__footer--meetall .main-content-meet-all-client__footer--meetall-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.main-content-marketing {
  max-width: 1152px;
  margin: 0 auto;
  padding-top: 48px;
}
@media (max-width: 600px) {
  .main-content-marketing {
    padding: 38px 10px 0 10px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing {
    padding: 48px 10px 0 10px;
  }
}
.main-content-marketing .main-content-marketing__header {
  text-align: center;
  padding: 0 262px;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__header {
    padding: 0;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__header {
    padding: 0;
  }
}
.main-content-marketing .main-content-marketing__header .main-content-marketing__header--title {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  color: #4d4d4d;
  padding-bottom: 8px;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__header .main-content-marketing__header--title {
    font-size: 3.4rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__header .main-content-marketing__header--title {
    font-size: 3.4rem;
  }
}
.main-content-marketing .main-content-marketing__header .main-content-marketing__header--des {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #717171;
}
.main-content-marketing .main-content-marketing__footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item {
  position: relative;
  width: 368px;
  height: 366px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item {
    width: 300px;
    height: 288px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item {
    width: 300px;
    height: 288px;
  }
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--item-img {
  width: 368px;
  height: 286px;
  object-fit: contain;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--item-img {
    width: 300px;
    height: 238px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--item-img {
    width: 300px;
    height: 238px;
  }
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 317px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  background-color: #f5f7fa;
  text-align: center;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content {
    width: 240px;
    gap: 8px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content {
    width: 240px;
    gap: 8px;
  }
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  color: #717171;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-title {
    font-size: 1.8rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-title {
    font-size: 1.8rem;
  }
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-action {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  transition: all 0.2s linear;
  -webkit-tap-highlight-color: transparent;
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-action:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-action .main-content-marketing__footer--content-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  color: #4caf4f;
}
@media (max-width: 600px) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-action .main-content-marketing__footer--content-text {
    font-size: 1.8rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-action .main-content-marketing__footer--content-text {
    font-size: 1.8rem;
  }
}
.main-content-marketing .main-content-marketing__footer .main-content-marketing__footer--item .main-content-marketing__footer--content .main-content-marketing__footer--content-action .main-content-marketing__footer--content-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.main-content-footer {
  background-color: #f5f7fa;
  padding: 32px 0;
  margin-top: 95px;
}
@media (max-width: 600px) {
  .main-content-footer {
    margin-top: 36px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-footer {
    margin-top: 56px;
  }
}
.main-content-footer .wrap-content-main-footer {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
  padding: 0 134px;
}
@media (max-width: 600px) {
  .main-content-footer .wrap-content-main-footer {
    padding: 0 10px;
    gap: 20px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-footer .wrap-content-main-footer {
    padding: 0 10px;
  }
}
.main-content-footer .wrap-content-main-footer .main-content-footer__title {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.6rem;
  color: #263238;
}
@media (max-width: 600px) {
  .main-content-footer .wrap-content-main-footer .main-content-footer__title {
    font-size: 2.8rem;
    line-height: 4.4rem;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main-content-footer .wrap-content-main-footer .main-content-footer__title {
    font-size: 5.4rem;
  }
}
.main-content-footer .wrap-content-main-footer .main-content-footer__action {
  width: 178px;
  height: 52px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #4caf4f;
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: none;
  transition: all 0.2s linear;
}
.main-content-footer .wrap-content-main-footer .main-content-footer__action:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 600px) {
  .main-content-footer .wrap-content-main-footer .main-content-footer__action {
    width: 70%;
    height: 48px;
  }
}
.main-content-footer .wrap-content-main-footer .main-content-footer__action .main-content-footer__icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  position: relative;
  top: 1px;
}

.footer {
  background-color: #263238;
  padding: 64px 0;
}
@media (max-width: 600px) {
  .footer {
    padding: 40px 0;
  }
}
.footer .wrap-content-footer {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer {
    padding: 0 10px;
    flex-direction: column;
    gap: 30px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .footer .wrap-content-footer {
    flex-wrap: wrap-reverse;
    padding: 0 10px;
    justify-content: space-evenly;
    gap: 50px;
  }
}
.footer .wrap-content-footer .wrap-content-footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__copyright {
    width: 100%;
    align-items: center;
  }
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--logo {
  width: 191px;
  height: 30px;
  object-fit: contain;
  margin-bottom: 40px;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--logo {
    margin-bottom: 20px;
  }
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #f5f7fa;
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--text:nth-child(2n) {
  padding-bottom: 8px;
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--ul {
  margin-top: 40px;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--ul {
    margin-top: 20px;
  }
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--ul .wrap-content-footer__copyright--li {
  transition: all 0.3s linear;
  -webkit-tap-highlight-color: transparent;
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--ul .wrap-content-footer__copyright--li .wrap-content-footer__copyright--link {
  text-decoration: none;
  display: inline-block;
  display: flex;
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--ul .wrap-content-footer__copyright--li .wrap-content-footer__copyright--link .wrap-content-footer__copyright--img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.footer .wrap-content-footer .wrap-content-footer__copyright .wrap-content-footer__copyright--ul .wrap-content-footer__copyright--li:hover {
  cursor: pointer;
  opacity: 0.7;
}
.footer .wrap-content-footer .wrap-content-footer__info {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__info {
    gap: 36px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .footer .wrap-content-footer .wrap-content-footer__info {
    gap: 0px;
  }
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item {
  min-width: 160px;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item {
    flex: 1;
    text-align: center;
    width: 80%;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item {
    flex: 1;
  }
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__info--title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  color: #fff;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__info--title {
    margin-bottom: 6px;
  }
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__info--link {
  text-decoration: none;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #f5f7fa;
  display: block;
  padding-bottom: 12px;
  transition: all 0.2s linear;
  -webkit-tap-highlight-color: transparent;
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__info--link:hover {
  cursor: pointer;
  opacity: 0.6;
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__info--link:last-child {
  padding-bottom: 0;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__info--link {
    padding-bottom: 8px;
  }
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__form {
  width: 255px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
  overflow: hidden;
  background-color: #515b60;
}
@media (max-width: 600px) {
  .footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__form {
    width: 100%;
  }
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__form .wrap-content-footer__form--input {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #d9dbe1;
  caret-color: #4caf4f;
  height: 100%;
  padding: 9px 12px;
  outline: none;
  border: none;
  background-color: #515b60;
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__form .wrap-content-footer__form--input::placeholder {
  color: #d9dbe1;
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__form .wrap-content-footer__form--submit {
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  -webkit-tap-highlight-color: transparent;
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__form .wrap-content-footer__form--submit:hover {
  cursor: pointer;
  background-color: #4caf4f;
}
.footer .wrap-content-footer .wrap-content-footer__info .wrap-content-footer__info--item .wrap-content-footer__form .wrap-content-footer__form--submit .wrap-content-footer__form--icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

#root {
  overflow: hidden;
}

@media (max-width: 600px) {
  .main {
    padding-top: 60px;
  }
}
@media ((min-width: 601px) and (max-width: 900px)) {
  .main {
    padding-top: 84px;
  }
}
@media ((min-width: 901px) and (max-width: 1536px)) {
  .main {
    padding-top: 84px;
  }
}
@media (min-width: 1537px) {
  .main {
    padding-top: 84px;
  }
}

.mess-no-script {
  font-size: 3rem;
  color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
  padding: 26px;
  background-color: yellow;
}

.wrap-back-to-top {
  position: fixed;
  z-index: 100;
  right: 5%;
  bottom: 10%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf4f;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgb(3, 76, 4);
  transition: all 0.2s linear;
  -webkit-tap-highlight-color: transparent;
}
.wrap-back-to-top:hover {
  cursor: pointer;
  opacity: 0.7;
}
.wrap-back-to-top .wrap-back-to-top__icon {
  font-size: 2rem;
  color: #fff;
}
@media (max-width: 600px) {
  .wrap-back-to-top .wrap-back-to-top__icon {
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  .wrap-back-to-top {
    width: 34px;
    height: 34px;
  }
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #4caf4f;
  border-radius: 6px;
}

/*# sourceMappingURL=style.css.map */
