.main-content-footer {
  background-color: $text-footer;
  padding: 32px 0;
  margin-top: 95px;
  @include responsive(mobile) {
    margin-top: 36px;
  }
  @include responsive(tablet) {
    margin-top: 56px;
  }

  .wrap-content-main-footer {
    max-width: $width-main;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
    padding: 0 134px;
    @include responsive(mobile) {
      padding: 0 10px;
      gap: 20px;
    }
    @include responsive(tablet) {
      padding: 0 10px;
    }
    .main-content-footer__title {
      font-size: 6.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 7.6rem;
      color: #263238;
      @include responsive(mobile) {
        font-size: 2.8rem;
        line-height: 4.4rem;
      }
      @include responsive(tablet) {
        font-size: 5.4rem;
      }
    }
    .main-content-footer__action {
      width: 178px;
      height: 52px;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      background-color: $color-primary;
      color: $text-white;
      font-size: 1.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      border: none;
      transition: all 0.2s linear;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      @include responsive(mobile) {
        width: 70%;
        height: 48px;
      }
      .main-content-footer__text {
      }

      .main-content-footer__icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
        position: relative;
        top: 1px;
      }
    }
  }
}
