.main-content-design {
  max-width: $width-main;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  @include responsive(mobile) {
    padding: 0 10px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  @include responsive(tablet) {
    padding: 0 10px;
    gap: 16px;
  }

  .main-content-design__img {
    width: 442px;
    height: 433px;
    object-fit: contain;
    @include responsive(mobile) {
      width: 300px;
      height: auto;
    }
    @include responsive(tablet) {
      width: 300px;
      height: auto;
    }
  }

  .main-content-design__footer {
    padding-right: 60px;
    @include responsive(mobile) {
      padding-right: 0px;
      text-align: center;
    }
    @include responsive(tablet) {
      padding-right: 0px;
      text-align: center;
    }
    .main-content-design__footer--title {
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 4.4rem;
      color: $text-primary;
      padding-bottom: 16px;
      @include responsive(mobile) {
        font-size: 3.4rem;
      }
      @include responsive(tablet) {
        font-size: 3.4rem;
      }
    }

    .main-content-design__footer--des {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;
      color: $text-secondary;
      margin-bottom: 32px;
      @include responsive(mobile) {
        margin-bottom: 22px;
      }
    }

    .main-content-design__footer--action {
      @include responsive(mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @include responsive(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .main-content-design__footer--btn {
        width: 151px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        background-color: $color-primary;
        color: white;
        font-size: 1.7rem;
        -webkit-tap-highlight-color: transparent;
        transition: all 0.3s linear;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }

        @include responsive(mobile) {
          width: 70%;
          height: 48px;
        }
      }
    }
  }
}
