.main-content-business {
  background-color: $text-footer;
  margin-top: 48px;
  padding: 64px 0;
  @include responsive(mobile) {
    padding: 34px 10px;
    margin-top: 38px;
  }
  @include responsive(tablet) {
    padding-right: 10px;
    padding-left: 10px;
    padding: 44px 10px;
  }

  .wrap-content-business {
    max-width: $width-main;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
    @include responsive(mobile) {
      gap: 28px;
      flex-direction: column;
    }
    @include responsive(tablet) {
      gap: 30px;
    }
    .main-content-business__header {
      flex: 1;
      max-width: 540px;
      padding-right: 118px;
      @include responsive(mobile) {
        padding-right: 0px;
        text-align: center;
      }
      @include responsive(tablet) {
        padding-right: 0px;
        text-align: center;
      }
      .main-content-business__header--title {
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 4.4rem;
        color: $text-primary;
        padding-bottom: 8px;
        @include responsive(mobile) {
          font-size: 3.4rem;
        }
        @include responsive(tablet) {
          font-size: 3.4rem;
        }
        .main-content-business__header--active {
          color: $color-primary;
        }
      }

      .main-content-business__header--des {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        color: $text-header;
      }
    }

    .main-content-business__footer {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 30px;
      row-gap: 40px;

      @include responsive(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      .main-content-business__footer--item {
        display: flex;
        align-items: center;
        gap: 16px;
        .main-content-business__footer--img {
          width: 48px;
          height: 48px;
          object-fit: contain;

          @include responsive(mobile) {
            width: 34px;
            height: 34px;
          }
          @include responsive(tablet) {
            width: 34px;
            height: 34px;
          }
        }
      }

      .main-content-business__footer--info {
        .main-content-business__footer--info-number {
          font-size: 2.8rem;
          font-style: normal;
          font-weight: 700;
          line-height: 3.6rem;
          color: $text-primary;

          @include responsive(mobile) {
            font-size: 2.4rem;
          }
          @include responsive(tablet) {
            font-size: 2.4rem;
          }
        }

        .main-content-business__footer--info-name {
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.4rem;
          color: $text-secondary;
        }
      }
    }
  }
}
