.main-content-community {
  max-width: $width-main;
  margin: 0 auto;
  @include responsive(mobile) {
    padding: 0 10px;
  }

  .wrap-main-content-community__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-content-community__title {
    max-width: 542px;
    text-align: center;
    .main-content-community__title--text {
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 4.4rem;
      color: $text-primary;
      padding-bottom: 8px;
      @include responsive(mobile) {
        font-size: 3.4rem;
      }
    }

    .main-content-community__title--des {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      color: $text-secondary;
    }
  }

  .main-content-community__info {
    margin-top: 16px;
    .main-content-community__info-ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include responsive(mobile) {
        flex-direction: column;
        gap: 20px;
      }

      @include responsive(tablet) {
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: space-around;
      }
      .main-content-community__info--li {
        max-width: 299px;
        padding: 14px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
        position: relative;
        border: 1px solid transparent;
        -webkit-tap-highlight-color: transparent;
        .main-content-community__info--img {
          width: 65px;
          height: 56px;
          object-fit: contain;
          margin-bottom: 16px;
        }

        .main-content-community__info--name {
          font-size: 2.8rem;
          font-style: normal;
          font-weight: 700;
          line-height: 3.6rem;
          color: $text-primary;
          margin-bottom: 8px;
          @include responsive(mobile) {
            font-size: 2.4rem;
          }
        }

        .main-content-community__info--des {
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2rem;
          color: $text-secondary;
        }

        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-top: 1px solid $color-primary;
          border-bottom: 1px solid $color-primary;
          border-radius: 8px;
          transform: scaleX(0);
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          cursor: pointer;
          &::before {
            transform: scaleX(1);
          }
        }
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-right: 1px solid $color-primary;
          border-left: 1px solid $color-primary;
          border-radius: 8px;
          transform: scaleY(0);
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          cursor: pointer;
          &::after {
            transform: scaleY(1);
          }
        }
      }
    }
  }
}
