.main-content-meet-all-client {
  background-color: $text-footer;
  margin-top: 48px;
  padding: 32px 0;
  @include responsive(mobile) {
    padding: 16px 10px;
  }
  @include responsive(tablet) {
    padding: 16px 10px;
  }

  .wrap-content-meet-all-client {
    max-width: $width-main;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 78px;
    @include responsive(mobile) {
      gap: 1px;
      flex-direction: column;
      align-items: center;
    }
    @include responsive(tablet) {
      gap: 1px;
      flex-direction: column;
      align-items: center;
    }

    .wrap-content-meet-all-client__wrap-img {
      width: 326px;
      height: 326px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 10px;
      @include responsive(mobile) {
        width: 300px;
        height: auto;
      }
      @include responsive(tablet) {
        width: 300px;
        height: auto;
      }
      .main-content-meet-all-client__img {
        width: 326px;
        height: 326px;
        object-fit: contain;
        @include responsive(mobile) {
          width: 300px;
          height: auto;
        }
        @include responsive(tablet) {
          width: 300px;
          height: auto;
        }
      }
    }

    .main-content-meet-all-client__footer {
      @include responsive(mobile) {
        text-align: center;
      }
      @include responsive(tablet) {
        text-align: center;
      }
      .main-content-meet-all-client__footer--des {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.4rem;
        color: $text-secondary;
        padding-bottom: 10px;
      }

      .main-content-meet-all-client__footer--author {
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.8rem;
        color: $color-primary;
        padding-bottom: 6px;
      }

      .main-content-meet-all-client__footer--sub {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        color: #89939e;
        margin-bottom: 22px;
      }

      .main-content-meet-all-client__footer--company {
        display: flex;
        align-items: center;
        gap: 32px;
        justify-content: space-between;
        @include responsive(mobile) {
          flex-direction: column;
          align-items: center;
        }
        @include responsive(tablet) {
          flex-direction: column;
          align-items: center;
        }
        .main-content-meet-all-client__footer--ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          gap: 41px;

          @include responsive(mobile) {
            flex-wrap: wrap;
            justify-content: center;
          }
          .main-content-meet-all-client__footer--li {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            .main-content-meet-all-client__footer--li-logo {
              width: 48px;
              height: 48px;
              object-fit: contain;
            }
          }
        }

        .main-content-meet-all-client__footer--meetall {
          display: flex;
          align-items: center;
          gap: 8px;
          transition: all 0.2s linear;
          -webkit-tap-highlight-color: transparent;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
          .main-content-meet-all-client__footer--meetall-text {
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.8rem;
            color: $color-primary;
          }

          .main-content-meet-all-client__footer--meetall-img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
