.main-content-marketing {
  max-width: $width-main;
  margin: 0 auto;
  padding-top: 48px;
  @include responsive(mobile) {
    padding: 38px 10px 0 10px;
  }
  @include responsive(tablet) {
    padding: 48px 10px 0 10px;
  }

  .main-content-marketing__header {
    text-align: center;
    padding: 0 262px;
    @include responsive(mobile) {
      padding: 0;
    }
    @include responsive(tablet) {
      padding: 0;
    }
    .main-content-marketing__header--title {
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 4.4rem;
      color: $text-primary;
      padding-bottom: 8px;
      @include responsive(mobile) {
        font-size: 3.4rem;
      }
      @include responsive(tablet) {
        font-size: 3.4rem;
      }
    }

    .main-content-marketing__header--des {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      color: $text-secondary;
    }
  }

  .main-content-marketing__footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 38px;
    }
    @include responsive(tablet) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    .main-content-marketing__footer--item {
      position: relative;
      width: 368px;
      height: 366px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include responsive(mobile) {
        width: 300px;
        height: 288px;
      }
      @include responsive(tablet) {
        width: 300px;
        height: 288px;
      }

      .main-content-marketing__footer--item-img {
        width: 368px;
        height: 286px;
        object-fit: contain;
        @include responsive(mobile) {
          width: 300px;
          height: 238px;
        }
        @include responsive(tablet) {
          width: 300px;
          height: 238px;
        }
      }

      .main-content-marketing__footer--content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 317px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
        background-color: $text-footer;
        text-align: center;

        @include responsive(mobile) {
          width: 240px;
          gap: 8px;
        }
        @include responsive(tablet) {
          width: 240px;
          gap: 8px;
        }
        .main-content-marketing__footer--content-title {
          font-size: 2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.8rem;
          color: $text-secondary;
          @include responsive(mobile) {
            font-size: 1.8rem;
          }
          @include responsive(tablet) {
            font-size: 1.8rem;
          }
        }

        .main-content-marketing__footer--content-action {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 8px;
          transition: all 0.2s linear;
          -webkit-tap-highlight-color: transparent;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
          .main-content-marketing__footer--content-text {
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.8rem;
            color: $color-primary;
            @include responsive(mobile) {
              font-size: 1.8rem;
            }
            @include responsive(tablet) {
              font-size: 1.8rem;
            }
          }

          .main-content-marketing__footer--content-img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
