.main-content-header {
  max-width: $width-main;
  margin: 0 auto;
  padding: 40px 0;
  @include responsive(mobile) {
    padding: 26px 10px;
  }

  .main-content-header__title {
    text-align: center;
    .main-content-header__title--text {
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 4.4rem;
      color: $text-primary;
      padding-bottom: 8px;
      @include responsive(mobile) {
        font-size: 3.4rem;
      }
    }

    .main-content-header__title--des {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      color: $text-secondary;
    }
  }
  .main-content-header__swipper-clients {
    margin-top: 16px;
    .swiper-wrapper {
      .slider-item__client {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        @include responsive(mobile) {
          text-align: center;
        }
        @include responsive(tablet) {
          text-align: center;
        }

        .slider-item__client--logo {
          width: 40px;
          height: 40px;
          object-fit: contain;
          -webkit-tap-highlight-color: transparent;
        }
      }
    }
  }
}
